In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import pandas as pd
import ccxt
from sqlalchemy import create_engine
import os
from datetime import datetime, timedelta


with open("../api(JKBOT).txt") as f:
    lines = f.readlines()
    api_key = lines[0].strip()
    secret = lines[1].strip()

binance = ccxt.binance(config={
    'apiKey': api_key, #"XTpKrQGSk3GhXzqiEV4OfwGJzmTVcLh8dKGwHo4aQBH4p0mOqPDpIsxdh95tjGVf",
    'secret': secret, #"A0eqZGEWHsyL3NMM6WuDrucIanr7A2YZAnrwXVPhXpf2WGauIANwa5zsoNeNt0hs",
    'enableRateLimit' : True,
    'options': {
        'defaultType': 'future'
    }
})

jongmok= []

markets = binance.load_markets()
for market in markets.keys():
    if market.endswith("/USDT"):# and market != "BCC/USDT" and market != "TUSD/USDT":
        jongmok.append(market)

database = 'price_1d'

def md_connect(user, password, db, host, port=3306):
    url = 'mysql+pymysql://{}:{}@{}:{}/{}'.format(user, password, host, port, db)
    engine = create_engine(url).connect()
    return engine

engine = md_connect('root', '1234', database, 'localhost')

print("database :" + database + " 에 접속중 입니다")

score = []
window_list = []
away_list = []
size=30
term = '1d'
window = 28
away = 7
# # for away in range(1, 14):
# print("window : " + str(window), "away : " + str(away))

database :price_1d 에 접속중 입니다

In [ ]:
#모델 만들기

x_input = []
y_target = []
for symbol in jongmok[0:80]:
    data = pd.read_sql(symbol[:-5].lower(), engine, index_col='datetime') #sql에서 db 받아오기
    x_data = data[['open', 'high', 'low', 'close']]
    y_data = data[['close']]
    print(symbol + " Data Collect")
    for i in range(0, len(data) - window - away + 1): #len(data)-window
        mean = x_data[i:i+window].mean()
        std = x_data[i:i+window].std()
        x = (x_data[i:i+window] - mean) / std
        # x['volume'] = (x_data['volume'] - volume_mean) / (volume_std)
        x_input.append(x)

        if y_data['close'][i+window-1] < y_data['close'][i+window+away-1]:
            y_target.append(1)
        else:
            y_target.append(0)

x_input = np.array(x_input)
y_target = np.array(y_target)

train_input, test_input, train_target, test_target = train_test_split(x_input, y_target, test_size=0.5)
from tensorflow import keras
model = keras.Sequential()
model.add(keras.layers.LSTM(size, activation='relu', input_shape=(window, 4), dropout=0.3))
# model.add(keras.layers.LSTM(10, activation = 'relu', input_shape=(window, 4)))
# model.add(keras.layers.Dropout(0, 1))
# model.add(keras.layers.LSTM(8))
model.add(keras.layers.Dense(1, activation='sigmoid'))

# rmsprop = keras.optimizers.RMSprop(learning_rate=1e-4)
model.compile(loss='binary_crossentropy', optimizer='adam', metrics='accuracy')
checkpoint_cb = keras.callbacks.ModelCheckpoint('h5/'+ term + '_' +str(window) + '_' + str(away) + '_(' + str(size) + ').h5', monitor='val_loss', save_best_only=True)
early_stopping_cb = keras.callbacks.EarlyStopping(patience=20, restore_best_weights=True)
epochs = 100
print("window : " + str(window), "away : " + str(away), "에 대해 "+ str(epochs) +"회 학습중")

model.fit(train_input, train_target, validation_data=(test_input, test_target), epochs=epochs, verbose=1, callbacks=[checkpoint_cb, early_stopping_cb])
print(window, away, model.evaluate(test_input, test_target)[1])

away_list.append([window, away, model.evaluate(test_input, test_target)[1]])
tot_score = pd.DataFrame(away_list)
with pd.ExcelWriter('excel/' + term + '_' +str(window) + '_' + str(away) + '_(' + str(size) + ').xlsx') as writer:
    tot_score.to_excel(writer, index=False)

In [3]:
from sqlalchemy import create_engine
# sql 연결 함수
def md_connect(user, password, db, host, port=3306):
    url = 'mysql+pymysql://{}:{}@{}:{}/{}'.format(user, password, host, port, db)
    engine = create_engine(url).connect()
    return engine

# 백테스팅 결과 함수
def select_rate(long_std, short_std, start_date=0, end_date=0, fee=0):
    df = ind_data[(ind_data['ind'] > long_std) | (ind_data['ind'] < short_std)].sort_index()
    condition = df['ind'] > 0.5
    df = df.assign(position=condition.map({True:1, False:-1}))
    df['profit'] = df['position'] * df['rate'] -(2 * fee)

    if start_date != 0:
        if end_date != 0:
            df = df.loc[start_date:end_date]
        else:
            df = df.loc[start_date:]
    else:
        if end_date !=0:
            df = df.loc[:end_date]

    df['count_sum'] = df.groupby('datetime').count()['sym'].rolling(window=7, min_periods=1).sum()
    df['tot_profit'] = df['profit'].cumsum()

    return df

'''매매기록일지'''
log_column = ['시작', '끝', '거래기간', '매수조건', '매도조건', '거래 횟수', '승률', '승수', '패수', '평균보유량', '평균수익률', '총수익률']
log_df = pd.DataFrame(columns = log_column)
engine = md_connect('root', '1234', 'price_1d', 'localhost')
''''''
#가격데이터 연결

account = [] # 계좌 정보
diary = [] # 매매일지
tot_data = {}

# 가격데이터 가져오기
for sym in jongmok[:80]:
    sym = sym[:-5].lower()
    data = pd.read_sql(sym, engine, index_col='datetime') # 데이터 가져오기
    tot_data[sym] = data

In [4]:
# predict 모델 가져오기
from tensorflow import keras
model = keras.Sequential()
model.add(keras.layers.LSTM(30, activation='relu', input_shape=(window, 4), dropout=0.3))
model.add(keras.layers.Dense(1, activation='sigmoid'))
model.load_weights('h5/'+ term + '_' +str(window) + '_' + str(away) + '_(' + str(size) + ').h5')

engine = md_connect('root', '1234', 'ind_test', 'localhost')

In [5]:
# 예측하기
for key in jongmok[:80]:
    key = key[:-5].lower()
    data = tot_data[key]
    x_data = tot_data[key][['open', 'high', 'low', 'close']]
    y_data = tot_data[key][['close']]

    x_input = []
    y_input = []

    ## 전처리
    for i in range(len(data)-window-away+1): #len(data)-window
        mean = x_data[i:i+window].mean()
        std = x_data[i:i+window].std()
        x = (x_data[i:i+window] - mean) / std
        x_input.append(x)

    ## ind 지표 생성
    x_input = np.array(x_input)
    predict_data = model.predict(x_input).tolist()

    ## 수익률 생성
    data['rate'] = data['close'].pct_change(periods=away).shift(-away)
    predict = []
    for i in range(len(predict_data)):
        predict.append(predict_data[i][0])
    data = data[window-1:-away]

    ##ind 지표 결합
    data = data.copy()
    data['ind'] = predict
    data['sym'] = key

    engine = md_connect('root', '1234', 'ind_test', 'localhost')
    data = data[['sym', 'open', 'high', 'low', 'close', 'rate', 'ind']]
    data.to_sql(key, engine, if_exists="replace", index=True)

40/40 [==============================] - 0s 2ms/step
37/37 [==============================] - 0s 1ms/step
37/37 [==============================] - 0s 1ms/step
36/36 [==============================] - 0s 1ms/step
36/36 [==============================] - 0s 1ms/step
36/36 [==============================] - 0s 1ms/step
36/36 [==============================] - 0s 1ms/step
36/36 [==============================] - 0s 1ms/step
36/36 [==============================] - 0s 1ms/step
36/36 [==============================] - 0s 1ms/step
35/35 [==============================] - 0s 1ms/step
35/35 [==============================] - 0s 1ms/step
35/35 [==============================] - 0s 1ms/step
35/35 [==============================] - 0s 1ms/step
35/35 [==============================] - 0s 1ms/step
35/35 [==============================] - 0s 1ms/step
35/35 [==============================] - 0s 1ms/step
35/35 [==============================] - 0s 1ms/step
35/35 [==============================] - 0s 1ms/step
35/35 [==============================] - 0s 1ms/step
35/35 [==============================] - 0s 1ms/step
35/35 [==============================] - 0s 1ms/step
35/35 [==============================] - 0s 1ms/step
35/35 [==============================] - 0s 1ms/step
32/32 [==============================] - 0s 1ms/step
31/31 [==============================] - 0s 1ms/step
31/31 [==============================] - 0s 1ms/step
31/31 [==============================] - 0s 1ms/step
31/31 [==============================] - 0s 1ms/step
31/31 [==============================] - 0s 1ms/step
31/31 [==============================] - 0s 1ms/step
30/30 [==============================] - 0s 1ms/step
30/30 [==============================] - 0s 1ms/step
30/30 [==============================] - 0s 1ms/step
30/30 [==============================] - 0s 1ms/step
30/30 [==============================] - 0s 2ms/step
29/29 [==============================] - 0s 3ms/step
29/29 [==============================] - 0s 3ms/step
29/29 [==============================] - 0s 3ms/step
29/29 [==============================] - 0s 3ms/step
29/29 [==============================] - 0s 2ms/step
29/29 [==============================] - 0s 3ms/step
29/29 [==============================] - 0s 4ms/step
29/29 [==============================] - 0s 2ms/step
29/29 [==============================] - 0s 3ms/step
29/29 [==============================] - 0s 3ms/step
29/29 [==============================] - 0s 3ms/step
29/29 [==============================] - 0s 3ms/step
28/28 [==============================] - 0s 3ms/step
28/28 [==============================] - 0s 2ms/step
28/28 [==============================] - 0s 3ms/step
28/28 [==============================] - 0s 3ms/step
28/28 [==============================] - 0s 3ms/step
28/28 [==============================] - 0s 3ms/step
28/28 [==============================] - 0s 3ms/step
28/28 [==============================] - 0s 3ms/step
28/28 [==============================] - 0s 3ms/step
28/28 [==============================] - 0s 4ms/step
28/28 [==============================] - 0s 3ms/step
27/27 [==============================] - 0s 3ms/step
27/27 [==============================] - 0s 3ms/step
27/27 [==============================] - 0s 3ms/step
27/27 [==============================] - 0s 2ms/step
27/27 [==============================] - 0s 3ms/step
27/27 [==============================] - 0s 5ms/step
27/27 [==============================] - 0s 3ms/step
27/27 [==============================] - 0s 3ms/step
27/27 [==============================] - 0s 3ms/step
27/27 [==============================] - 0s 3ms/step
27/27 [==============================] - 0s 3ms/step
26/26 [==============================] - 0s 3ms/step
26/26 [==============================] - 0s 3ms/step
26/26 [==============================] - 0s 3ms/step
26/26 [==============================] - 0s 3ms/step
26/26 [==============================] - 0s 3ms/step
26/26 [==============================] - 0s 3ms/step
25/25 [==============================] - 0s 3ms/step
25/25 [==============================] - 0s 3ms/step
24/24 [==============================] - 0s 3ms/step
24/24 [==============================] - 0s 3ms/step

In [7]:
ind_data

NameError: name 'ind_data' is not defined

In [6]:
tot_data

{'btc':                 open      high       low     close      volume      rate
 datetime
 2019-09-08  10000.00  10412.65  10000.00  10391.63    3096.291 -0.008604
 2019-09-09  10316.62  10475.54  10077.22  10307.00   14824.373 -0.005601
 2019-09-10  10307.00  10382.97   9940.87  10102.02    9068.955  0.008365
 2019-09-11  10094.27  10293.11   9884.31  10159.55   10897.922 -0.000432
 2019-09-12  10163.06  10450.13  10042.12  10415.13   15609.634 -0.016306
 ...              ...       ...       ...       ...         ...       ...
 2023-03-23  27233.80  28777.00  27101.00  28284.10  808174.047       NaN
 2023-03-24  28284.00  28369.10  26960.00  27438.90  696075.370       NaN
 2023-03-25  27439.00  27788.00  27131.80  27447.30  335674.055       NaN
 2023-03-26  27447.20  28186.90  27400.00  27954.30  399756.985       NaN
 2023-03-27  27954.30  28019.40  27650.00  27781.20   83360.794       NaN

 [1297 rows x 6 columns],
 'eth':                open     high      low    close       volume      rate
 datetime
 2019-11-27   146.00   155.66   125.03   152.52   115911.840 -0.047010
 2019-11-28   154.29   156.52   146.41   150.48   116824.070 -0.016215
 2019-11-29   150.56   157.40   150.55   154.41   167906.104 -0.038858
 2019-11-30   154.40   155.15   149.66   151.38   370491.615 -0.028273
 2019-12-01   151.38   152.50   145.50   150.65   394494.119 -0.001593
 ...             ...      ...      ...      ...          ...       ...
 2023-03-23  1733.61  1860.00  1728.50  1813.27  5198586.173       NaN
 2023-03-24  1813.26  1818.17  1720.00  1748.77  4912493.752       NaN
 2023-03-25  1748.77  1763.70  1712.02  1741.02  2338463.552       NaN
 2023-03-26  1741.02  1800.00  1738.29  1772.63  2889759.744       NaN
 2023-03-27  1772.63  1779.79  1745.19  1753.28   668661.805       NaN

 [1217 rows x 6 columns],
 'bch':               open    high     low   close      volume      rate
 datetime
 2019-12-19  185.00  189.50  182.90  186.14  110800.434  0.007951
 2019-12-20  185.99  190.50  183.02  187.41  225130.546  0.084147
 2019-12-21  187.43  188.49  185.02  186.21  167471.832  0.106707
 2019-12-22  186.21  197.81  185.70  196.19  116332.603  0.081656
 2019-12-23  196.19  198.66  187.77  189.61   88983.918  0.099362
 ...            ...     ...     ...     ...         ...       ...
 2023-03-23  125.87  131.01  124.24  128.53  667366.688       NaN
 2023-03-24  128.52  131.76  121.25  123.57  957880.931       NaN
 2023-03-25  123.57  127.48  123.01  125.01  497510.527       NaN
 2023-03-26  125.00  127.08  123.42  124.63  445114.870       NaN
 2023-03-27  124.63  124.84  122.07  123.01  160642.388       NaN

 [1195 rows x 6 columns],
 'xrp':               open    high     low   close        volume      rate
 datetime
 2020-01-06  0.1970  0.2259  0.1970  0.2226  9.202222e+07 -0.049865
 2020-01-07  0.2227  0.2297  0.2071  0.2138  1.249859e+08  0.099158
 2020-01-08  0.2138  0.2204  0.2013  0.2078  7.979160e+07  0.124639
 2020-01-09  0.2078  0.2089  0.2010  0.2040  4.512643e+07  0.112745
 2020-01-10  0.2039  0.2136  0.2001  0.2128  6.248868e+07  0.073308
 ...            ...     ...     ...     ...           ...       ...
 2023-03-23  0.4211  0.4555  0.4111  0.4435  5.077353e+09       NaN
 2023-03-24  0.4434  0.4438  0.4133  0.4256  2.563291e+09       NaN
 2023-03-25  0.4255  0.4650  0.4220  0.4427  4.578851e+09       NaN
 2023-03-26  0.4427  0.4630  0.4402  0.4477  2.551970e+09       NaN
 2023-03-27  0.4477  0.4586  0.4422  0.4542  1.011053e+09       NaN

 [1177 rows x 6 columns],
 'eos':              open   high    low  close       volume      rate
 datetime
 2020-01-08  2.884  2.914  2.685  2.778    4425075.7  0.356371
 2020-01-09  2.777  2.799  2.695  2.745    5378993.3  0.398179
 2020-01-10  2.741  3.006  2.650  2.983    7255081.9  0.308750
 2020-01-11  2.988  3.128  2.941  2.992    6997566.2  0.272727
 2020-01-12  2.992  3.214  2.932  3.207   11263428.0  0.126598
 ...           ...    ...    ...    ...          ...       ...
 2023-03-23  1.093  1.167  1.085  1.159  168011650.8       NaN
 2023-03-24  1.159  1.201  1.117  1.165  258194970.1       NaN
 2023-03-25  1.164  1.181  1.092  1.114  159479343.0       NaN
 2023-03-26  1.114  1.153  1.106  1.138   92059384.5       NaN
 2023-03-27  1.139  1.144  1.111  1.118   33121756.5       NaN

 [1175 rows x 6 columns],
 'ltc':              open   high    low  close        volume      rate
 datetime
 2020-01-09  45.32  45.77  43.87  44.73  2.128619e+05  0.287726
 2020-01-10  44.73  49.63  43.80  49.04  3.842841e+05  0.246941
 2020-01-11  49.03  51.99  47.76  49.25  5.457844e+05  0.204670
 2020-01-12  49.30  51.75  48.78  51.33  5.288070e+05  0.122930
 2020-01-13  51.33  51.42  48.90  49.58  4.813614e+05  0.154296
 ...           ...    ...    ...    ...           ...       ...
 2023-03-23  87.23  94.66  85.56  93.56  1.527402e+07       NaN
 2023-03-24  93.56  96.00  88.88  93.51  1.056142e+07       NaN
 2023-03-25  93.51  94.28  89.95  91.43  5.382356e+06       NaN
 2023-03-26  91.43  94.78  90.50  93.27  5.187367e+06       NaN
 2023-03-27  93.27  93.67  90.92  91.35  1.106240e+06       NaN

 [1174 rows x 6 columns],
 'trx':                open     high      low    close        volume      rate
 datetime
 2020-01-15  0.01684  0.01847  0.01670  0.01734  1.092794e+09  0.004614
 2020-01-16  0.01731  0.01749  0.01590  0.01731  1.600348e+09 -0.058348
 2020-01-17  0.01731  0.01820  0.01690  0.01761  1.394759e+09 -0.069847
 2020-01-18  0.01761  0.01828  0.01722  0.01770  9.370080e+08 -0.089266
 2020-01-19  0.01770  0.01819  0.01600  0.01666  9.102544e+08  0.010204
 ...             ...      ...      ...      ...           ...       ...
 2023-03-23  0.05972  0.06657  0.05920  0.06515  4.430815e+09       NaN
 2023-03-24  0.06516  0.06549  0.06250  0.06330  1.853152e+09       NaN
 2023-03-25  0.06330  0.06432  0.06260  0.06363  9.025570e+08       NaN
 2023-03-26  0.06363  0.06500  0.06328  0.06405  7.833925e+08       NaN
 2023-03-27  0.06405  0.06436  0.06371  0.06385  2.110316e+08       NaN

 [1168 rows x 6 columns],
 'etc':               open    high     low   close       volume      rate
 datetime
 2020-01-16   7.690   8.624   7.450   8.400   5587697.58  0.004048
 2020-01-17   8.394  12.197   8.149   9.160  17038610.51 -0.060262
 2020-01-18   9.160   9.738   8.022   8.303  11694212.59  0.010839
 2020-01-19   8.299   9.456   7.778   8.528  13327184.18  0.074930
 2020-01-20   8.526   9.094   8.051   8.626   9429386.38  0.206933
 ...            ...     ...     ...     ...          ...       ...
 2023-03-23  20.027  21.336  19.937  20.764  12303884.36       NaN
 2023-03-24  20.767  20.885  19.661  20.193   9978589.45       NaN
 2023-03-25  20.192  20.624  19.506  19.997   7277772.43       NaN
 2023-03-26  19.996  20.473  19.917  20.326   5514739.50       NaN
 2023-03-27  20.327  20.366  19.822  19.982   1868456.92       NaN

 [1167 rows x 6 columns],
 'link':              open   high    low  close       volume      rate
 datetime
 2020-01-17  2.669  2.896  2.592  2.696   8174258.39 -0.071217
 2020-01-18  2.696  2.799  2.560  2.774   7920982.41 -0.117520
 2020-01-19  2.777  2.854  2.519  2.623   9414962.40 -0.018300
 2020-01-20  2.623  2.745  2.544  2.695   7244721.52 -0.032282
 2020-01-21  2.694  2.745  2.561  2.673   5857502.02 -0.006360
 ...           ...    ...    ...    ...          ...       ...
 2023-03-23  7.169  7.630  7.083  7.603  37263509.80       NaN
 2023-03-24  7.604  7.653  7.107  7.189  31435061.62       NaN
 2023-03-25  7.188  7.252  6.964  7.072  20711640.95       NaN
 2023-03-26  7.071  7.286  7.044  7.256  16485956.71       NaN
 2023-03-27  7.256  7.272  7.110  7.157   4214760.66       NaN

 [1166 rows x 6 columns],
 'xlm':                open     high      low    close       volume      rate
 datetime
 2020-01-20  0.06471  0.07372  0.06105  0.06267  108561251.0 -0.047870
 2020-01-21  0.06267  0.06473  0.06136  0.06284  208422259.0 -0.034850
 2020-01-22  0.06282  0.06400  0.06060  0.06132  205782345.0 -0.008154
 2020-01-23  0.06135  0.06139  0.05686  0.05827  213790017.0  0.078771
 2020-01-24  0.05827  0.05837  0.05481  0.05707  183533741.0  0.065358
 ...             ...      ...      ...      ...          ...       ...
 2023-03-23  0.09075  0.09367  0.08970  0.09241  545468397.0       NaN
 2023-03-24  0.09242  0.09261  0.08683  0.08865  455493585.0       NaN
 2023-03-25  0.08866  0.09300  0.08829  0.09058  489776464.0       NaN
 2023-03-26  0.09058  0.09247  0.09031  0.09181  277314273.0       NaN
 2023-03-27  0.09181  0.09323  0.09073  0.09234  129426845.0       NaN

 [1163 rows x 6 columns],
 'ada':                open     high      low    close        volume      rate
 datetime
 2020-01-31  0.05450  0.05559  0.05209  0.05387  2.446329e+08  0.116391
 2020-02-01  0.05383  0.05745  0.05304  0.05620  3.725948e+08  0.070819
 2020-02-02  0.05616  0.05960  0.05484  0.05583  4.813554e+08  0.109439
 2020-02-03  0.05577  0.05808  0.05526  0.05718  3.374574e+08  0.054390
 2020-02-04  0.05718  0.05789  0.05406  0.05601  2.672876e+08  0.134976
 ...             ...      ...      ...      ...           ...       ...
 2023-03-23  0.35940  0.38530  0.35330  0.37150  1.067990e+09       NaN
 2023-03-24  0.37160  0.37240  0.35500  0.35960  7.891462e+08       NaN
 2023-03-25  0.35950  0.36270  0.34830  0.35100  4.679617e+08       NaN
 2023-03-26  0.35110  0.36120  0.34850  0.35550  4.234119e+08       NaN
 2023-03-27  0.35550  0.35700  0.34590  0.34830  1.597699e+08       NaN

 [1152 rows x 6 columns],
 'xmr':               open    high     low   close      volume      rate
 datetime
 2020-02-03   75.81   78.27   75.70   76.72  177071.103  0.104406
 2020-02-04   76.73   77.30   73.73   75.27  230733.121  0.191444
 2020-02-05   75.27   79.20   74.55   77.87  275305.488  0.213176
 2020-02-06   77.94   80.23   76.28   78.39  130355.894  0.179232
 2020-02-07   78.38   81.01   78.36   79.63  145821.539  0.197162
 ...            ...     ...     ...     ...         ...       ...
 2023-03-23  148.45  156.76  148.26  156.29  295122.368       NaN
 2023-03-24  156.29  162.98  154.71  161.76  430307.007       NaN
 2023-03-25  161.76  164.92  159.46  159.51  355100.297       NaN
 2023-03-26  159.51  165.81  158.52  161.36  258319.395       NaN
 2023-03-27  161.37  162.45  157.69  161.91   91815.810       NaN

 [1149 rows x 6 columns],
 'dash':               open    high     low   close       volume      rate
 datetime
 2020-02-04  115.50  115.50  108.47  111.29    26628.215  0.166592
 2020-02-05  111.29  124.76  110.04  122.94   108596.428  0.087522
 2020-02-06  123.09  125.36  117.15  120.87    52416.412  0.085216
 2020-02-07  120.84  123.38  118.26  118.88    50706.740  0.123234
 2020-02-08  118.88  132.32  113.16  126.64   150490.454 -0.045799
 ...            ...     ...     ...     ...          ...       ...
 2023-03-23   58.89   64.18   55.51   63.46  2159928.255       NaN
 2023-03-24   63.48   64.68   59.55   61.55  1274801.069       NaN
 2023-03-25   61.56   62.42   57.27   58.12   754235.537       NaN
 2023-03-26   58.12   60.38   57.30   59.05   468082.560       NaN
 2023-03-27   59.07   59.26   56.67   57.28   146595.438       NaN

 [1148 rows x 6 columns],
 'zec':              open   high    low  close       volume      rate
 datetime
 2020-02-05  65.99  73.26  64.77  71.22    83798.339  0.033558
 2020-02-06  71.22  73.47  67.76  70.17    69289.160  0.027790
 2020-02-07  70.21  72.25  68.03  68.59    98172.843  0.063712
 2020-02-08  68.61  72.34  66.00  70.13    89554.027 -0.079852
 2020-02-09  70.14  73.10  68.85  71.43    73579.213 -0.159177
 ...           ...    ...    ...    ...          ...       ...
 2023-03-23  34.62  38.22  34.24  38.04  1609528.517       NaN
 2023-03-24  38.04  38.64  34.95  35.82  1539196.289       NaN
 2023-03-25  35.82  36.11  34.66  35.53   748548.343       NaN
 2023-03-26  35.53  36.83  35.19  36.24   736457.021       NaN
 2023-03-27  36.24  36.58  35.30  35.62   215123.249       NaN

 [1147 rows x 6 columns],
 'xtz':              open   high    low  close      volume      rate
 datetime
 2020-02-06  2.182  2.231  2.122  2.177   1622030.8  0.438677
 2020-02-07  2.177  2.297  2.172  2.195   2132892.7  0.589977
 2020-02-08  2.196  2.324  2.010  2.291   3605091.1  0.399825
 2020-02-09  2.291  2.750  2.283  2.648  11107625.1  0.225453
 2020-02-10  2.650  2.728  2.457  2.632   8869747.8  0.201748
 ...           ...    ...    ...    ...         ...       ...
 2023-03-23  1.111  1.187  1.110  1.162  27974322.4       NaN
 2023-03-24  1.163  1.179  1.109  1.128  22284713.2       NaN
 2023-03-25  1.128  1.141  1.092  1.109  13025968.8       NaN
 2023-03-26  1.108  1.149  1.101  1.137  14008952.6       NaN
 2023-03-27  1.137  1.153  1.115  1.117   6372880.2       NaN

 [1146 rows x 6 columns],
 'bnb':                open     high      low    close      volume      rate
 datetime
 2020-02-10   25.070   25.907   24.031   25.189  1405091.86 -0.068959
 2020-02-11   25.190   25.864   24.250   25.705  1783061.99 -0.062673
 2020-02-12   25.705   26.980   25.347   26.451  1311285.47 -0.154399
 2020-02-13   26.452   27.397   24.580   25.456  1451755.42 -0.128261
 2020-02-14   25.455   26.697   25.043   26.384  1271237.03 -0.158240
 ...             ...      ...      ...      ...         ...       ...
 2023-03-23  321.060  331.820  318.820  329.080  1293418.24       NaN
 2023-03-24  329.040  329.700  316.550  321.800  1409259.98       NaN
 2023-03-25  321.810  324.820  318.860  322.110   844548.15       NaN
 2023-03-26  322.100  329.140  321.510  328.280   678934.99       NaN
 2023-03-27  328.280  328.940  326.100  326.830   162950.21       NaN

 [1142 rows x 6 columns],
 'atom':               open    high     low   close       volume      rate
 datetime
 2020-02-07   4.574   4.950   4.573   4.822    965941.88  0.063459
 2020-02-08   4.817   4.835   4.485   4.647   1234406.02 -0.008393
 2020-02-09   4.642   4.810   4.626   4.760    985383.90 -0.078992
 2020-02-10   4.760   4.810   4.547   4.782   1026402.54 -0.106232
 2020-02-11   4.774   5.237   4.696   5.118   1946745.80 -0.132278
 ...            ...     ...     ...     ...          ...       ...
 2023-03-23  11.320  11.938  11.221  11.678  10585149.78       NaN
 2023-03-24  11.675  11.724  10.966  11.183  10140191.18       NaN
 2023-03-25  11.184  11.324  10.902  11.076   6011839.97       NaN
 2023-03-26  11.075  11.461  11.016  11.319   5363072.70       NaN
 2023-03-27  11.320  11.350  11.083  11.140   1611892.19       NaN

 [1145 rows x 6 columns],
 'ont':               open    high     low   close       volume      rate
 datetime
 2020-02-11  0.9213  0.9850  0.9155  0.9776    3872237.3 -0.054419
 2020-02-12  0.9775  1.0700  0.9758  1.0367    9102630.5 -0.178451
 2020-02-13  1.0377  1.0896  0.9563  1.0247    7088374.1 -0.189324
 2020-02-14  1.0252  1.0740  0.9996  1.0733    4313761.8 -0.204230
 2020-02-15  1.0732  1.1000  0.9355  0.9606    6931776.1 -0.119405
 ...            ...     ...     ...     ...          ...       ...
 2023-03-23  0.2192  0.2379  0.2185  0.2350   92910750.4       NaN
 2023-03-24  0.2350  0.2367  0.2211  0.2248   75061498.9       NaN
 2023-03-25  0.2247  0.2261  0.2159  0.2200   59739702.0       NaN
 2023-03-26  0.2200  0.2339  0.2177  0.2295  131083767.3       NaN
 2023-03-27  0.2296  0.2314  0.2241  0.2248   30063436.1       NaN

 [1141 rows x 6 columns],
 'iota':               open    high     low   close      volume      rate
 datetime
 2020-02-12  0.3380  0.3725  0.3218  0.3306  25630878.8 -0.193587
 2020-02-13  0.3315  0.3489  0.3033  0.3227  29301543.1 -0.177564
 2020-02-14  0.3226  0.3289  0.3109  0.3242  21486527.0 -0.173041
 2020-02-15  0.3245  0.3269  0.2781  0.2875  18981443.4 -0.060174
 2020-02-16  0.2876  0.2976  0.1798  0.2775  14929658.1  0.003604
 ...            ...     ...     ...     ...         ...       ...
 2023-03-23  0.2078  0.2172  0.2051  0.2163  59436584.1       NaN
 2023-03-24  0.2164  0.2174  0.2040  0.2084  59111516.8       NaN
 2023-03-25  0.2085  0.2105  0.2013  0.2048  44124296.9       NaN
 2023-03-26  0.2049  0.2135  0.2029  0.2092  43772093.3       NaN
 2023-03-27  0.2091  0.2102  0.2048  0.2066  11815318.4       NaN

 [1140 rows x 6 columns],
 'bat':               open    high     low   close       volume      rate
 datetime
 2020-02-13  0.3102  0.3200  0.2790  0.2955    8513031.6 -0.128934
 2020-02-14  0.2954  0.3171  0.2942  0.3123    9222442.5 -0.145053
 2020-02-15  0.3124  0.3228  0.2698  0.2795   15602021.4 -0.025760
 2020-02-16  0.2795  0.2906  0.2332  0.2635    9329665.1  0.051233
 2020-02-17  0.2627  0.2685  0.2379  0.2666    6574451.0 -0.035259
 ...            ...     ...     ...     ...          ...       ...
 2023-03-23  0.2382  0.2561  0.2344  0.2527   55691903.8       NaN
 2023-03-24  0.2528  0.2544  0.2367  0.2410   54155664.2       NaN
 2023-03-25  0.2411  0.2424  0.2310  0.2348   41001609.0       NaN
 2023-03-26  0.2348  0.2569  0.2333  0.2453  140348889.7       NaN
 2023-03-27  0.2452  0.2455  0.2365  0.2380   22784913.3       NaN

 [1139 rows x 6 columns],
 'vet':                 open      high       low     close        volume      rate
 datetime
 2020-02-14  0.007720  0.008470  0.007683  0.008301  6.305763e+08 -0.200578
 2020-02-15  0.008308  0.008460  0.007233  0.007479  9.978609e+08 -0.116192
 2020-02-16  0.007478  0.007681  0.006410  0.007102  8.533560e+08 -0.019150
 2020-02-17  0.007096  0.007144  0.006255  0.006750  6.286308e+08 -0.003407
 2020-02-18  0.006753  0.007262  0.006621  0.007060  8.795978e+08 -0.120538
 ...              ...       ...       ...       ...           ...       ...
 2023-03-23  0.022460  0.023870  0.022400  0.023570  1.316473e+09       NaN
 2023-03-24  0.023560  0.024150  0.022320  0.022770  1.506564e+09       NaN
 2023-03-25  0.022780  0.023320  0.022340  0.022700  7.990194e+08       NaN
 2023-03-26  0.022690  0.023200  0.022500  0.022850  6.868942e+08       NaN
 2023-03-27  0.022860  0.022980  0.022280  0.022530  3.776939e+08       NaN

 [1138 rows x 6 columns],
 'neo':               open    high     low   close      volume      rate
 datetime
 2020-02-17  14.191  15.259  13.328  15.007   257225.54 -0.107483
 2020-02-18  15.026  15.778  14.164  15.575   407657.15 -0.203531
 2020-02-19  15.568  15.628  13.252  14.060   280442.44 -0.217639
 2020-02-20  14.028  14.386  13.326  14.033   156744.42 -0.180646
 2020-02-21  14.035  14.362  13.700  14.034   203653.84 -0.194385
 ...            ...     ...     ...     ...         ...       ...
 2023-03-23  11.616  12.615  11.594  12.547  6170616.80       NaN
 2023-03-24  12.546  13.498  12.120  12.375  8345101.60       NaN
 2023-03-25  12.376  12.443  11.722  12.029  3346909.91       NaN
 2023-03-26  12.029  12.418  11.797  12.303  2854538.21       NaN
 2023-03-27  12.304  12.935  12.137  12.596  4737117.05       NaN

 [1135 rows x 6 columns],
 'qtum':              open   high    low  close      volume      rate
 datetime
 2020-02-20  2.435  2.465  2.300  2.397    316656.2 -0.114310
 2020-02-21  2.391  2.475  2.359  2.416    345033.4 -0.139901
 2020-02-22  2.419  2.437  2.344  2.391    315412.3 -0.150983
 2020-02-23  2.393  2.508  2.391  2.500    375696.4 -0.188000
 2020-02-24  2.491  2.504  2.278  2.360    501921.1 -0.075000
 ...           ...    ...    ...    ...         ...       ...
 2023-03-23  3.019  3.330  3.017  3.250  16145845.0       NaN
 2023-03-24  3.251  3.429  3.130  3.229  13518905.1       NaN
 2023-03-25  3.228  3.277  3.043  3.085   4875725.2       NaN
 2023-03-26  3.085  3.146  3.032  3.120   3551542.9       NaN
 2023-03-27  3.119  3.208  3.091  3.118   3618113.1       NaN

 [1132 rows x 6 columns],
 'iost':                 open      high       low     close        volume      rate
 datetime
 2020-02-21  0.006337  0.006530  0.006202  0.006348  1.362578e+08 -0.171235
 2020-02-22  0.006352  0.006398  0.006068  0.006243  2.260105e+08 -0.180202
 2020-02-23  0.006243  0.006490  0.006234  0.006440  2.108936e+08 -0.215839

In [ ]:
# #today <-
# before = 1
# ind_list = []
# for key in jongmok[:1]:
#     key = key[:-5].lower()
#     data = tot_data[key]
#     x_data = tot_data[key][['open', 'high', 'low', 'close']]
#     y_data = tot_data[key][['close']]

#     x_input = []
#     y_input = []

#     ## 전처리
#     mean = x_data[-28-before:-before].mean()
#     std = x_data[-28-before:-before].std()
#     x = (x_data[-28-before:-before] - mean) / std
#     x_input.append(x)

#     ## ind 지표 생성
#     x_input = np.array(x_input)
#     predict_data = model.predict(x_input).tolist()
#     ind_list.append([key, predict_data[0][0]])

In [5]:
engine = md_connect('root', '1234', 'ind_test', 'localhost')

# ind dataframe에서 가져오기
for sym in jongmok[:80]:
    sym = sym[:-5].lower()
    data = pd.read_sql(sym, engine, index_col='datetime') # 데이터 가져오기
    tot_data[sym] = data

    # 변수 설정
ind_data = []
for key in jongmok[:80]:
    key = key[:-5].lower()
    ind_data.append(tot_data[key][['sym', 'close', 'rate', 'ind']])

ind_data = pd.concat(ind_data)

In [7]:
data = pd.read_sql('btc', engine, index_col='datetime')

In [8]:
data

Empty DataFrame
Columns: [sym, open, high, low, close, rate, ind]
Index: []

In [11]:
tot_data['btc']

                open      high       low     close      volume
datetime
2019-09-08  10000.00  10412.65  10000.00  10391.63    3096.291
2019-09-09  10316.62  10475.54  10077.22  10307.00   14824.373
2019-09-10  10307.00  10382.97   9940.87  10102.02    9068.955
2019-09-11  10094.27  10293.11   9884.31  10159.55   10897.922
2019-09-12  10163.06  10450.13  10042.12  10415.13   15609.634
...              ...       ...       ...       ...         ...
2023-03-23  27233.80  28777.00  27101.00  28284.10  808174.047
2023-03-24  28284.00  28369.10  26960.00  27438.90  696075.370
2023-03-25  27439.00  27788.00  27131.80  27447.30  335674.055
2023-03-26  27447.20  28186.90  27400.00  27954.30  399756.985
2023-03-27  27954.30  28019.40  27650.00  27781.20   83360.794

[1297 rows x 5 columns]

In [29]:
tot_data['btc']

Empty DataFrame
Columns: [sym, open, high, low, close, rate, ind]
Index: []

In [22]:
tot_data

{'btc': Empty DataFrame
 Columns: [sym, open, high, low, close, rate, ind]
 Index: [],
 'eth': Empty DataFrame
 Columns: [sym, open, high, low, close, rate, ind]
 Index: [],
 'bch': Empty DataFrame
 Columns: [sym, open, high, low, close, rate, ind]
 Index: [],
 'xrp': Empty DataFrame
 Columns: [sym, open, high, low, close, rate, ind]
 Index: [],
 'eos': Empty DataFrame
 Columns: [sym, open, high, low, close, rate, ind]
 Index: [],
 'ltc': Empty DataFrame
 Columns: [sym, open, high, low, close, rate, ind]
 Index: [],
 'trx': Empty DataFrame
 Columns: [sym, open, high, low, close, rate, ind]
 Index: [],
 'etc': Empty DataFrame
 Columns: [sym, open, high, low, close, rate, ind]
 Index: [],
 'link': Empty DataFrame
 Columns: [sym, open, high, low, close, rate, ind]
 Index: [],
 'xlm': Empty DataFrame
 Columns: [sym, open, high, low, close, rate, ind]
 Index: [],
 'ada': Empty DataFrame
 Columns: [sym, open, high, low, close, rate, ind]
 Index: [],
 'xmr': Empty DataFrame
 Columns: [sym, open, high, low, close, rate, ind]
 Index: [],
 'dash': Empty DataFrame
 Columns: [sym, open, high, low, close, rate, ind]
 Index: [],
 'zec': Empty DataFrame
 Columns: [sym, open, high, low, close, rate, ind]
 Index: [],
 'xtz': Empty DataFrame
 Columns: [sym, open, high, low, close, rate, ind]
 Index: [],
 'bnb': Empty DataFrame
 Columns: [sym, open, high, low, close, rate, ind]
 Index: [],
 'atom': Empty DataFrame
 Columns: [sym, open, high, low, close, rate, ind]
 Index: [],
 'ont': Empty DataFrame
 Columns: [sym, open, high, low, close, rate, ind]
 Index: [],
 'iota': Empty DataFrame
 Columns: [sym, open, high, low, close, rate, ind]
 Index: [],
 'bat': Empty DataFrame
 Columns: [sym, open, high, low, close, rate, ind]
 Index: [],
 'vet': Empty DataFrame
 Columns: [sym, open, high, low, close, rate, ind]
 Index: [],
 'neo': Empty DataFrame
 Columns: [sym, open, high, low, close, rate, ind]
 Index: [],
 'qtum': Empty DataFrame
 Columns: [sym, open, high, low, close, rate, ind]
 Index: [],
 'iost': Empty DataFrame
 Columns: [sym, open, high, low, close, rate, ind]
 Index: [],
 'theta': Empty DataFrame
 Columns: [sym, open, high, low, close, rate, ind]
 Index: [],
 'algo': Empty DataFrame
 Columns: [sym, open, high, low, close, rate, ind]
 Index: [],
 'zil': Empty DataFrame
 Columns: [sym, open, high, low, close, rate, ind]
 Index: [],
 'knc': Empty DataFrame
 Columns: [sym, open, high, low, close, rate, ind]
 Index: [],
 'zrx': Empty DataFrame
 Columns: [sym, open, high, low, close, rate, ind]
 Index: [],
 'comp': Empty DataFrame
 Columns: [sym, open, high, low, close, rate, ind]
 Index: [],
 'omg': Empty DataFrame
 Columns: [sym, open, high, low, close, rate, ind]
 Index: [],
 'doge': Empty DataFrame
 Columns: [sym, open, high, low, close, rate, ind]
 Index: [],
 'sxp': Empty DataFrame
 Columns: [sym, open, high, low, close, rate, ind]
 Index: [],
 'kava': Empty DataFrame
 Columns: [sym, open, high, low, close, rate, ind]
 Index: [],
 'band': Empty DataFrame
 Columns: [sym, open, high, low, close, rate, ind]
 Index: [],
 'rlc': Empty DataFrame
 Columns: [sym, open, high, low, close, rate, ind]
 Index: [],
 'waves': Empty DataFrame
 Columns: [sym, open, high, low, close, rate, ind]
 Index: [],
 'mkr': Empty DataFrame
 Columns: [sym, open, high, low, close, rate, ind]
 Index: [],
 'snx': Empty DataFrame
 Columns: [sym, open, high, low, close, rate, ind]
 Index: [],
 'dot': Empty DataFrame
 Columns: [sym, open, high, low, close, rate, ind]
 Index: [],
 'defi': Empty DataFrame
 Columns: [sym, open, high, low, close, rate, ind]
 Index: [],
 'yfi': Empty DataFrame
 Columns: [sym, open, high, low, close, rate, ind]
 Index: [],
 'bal': Empty DataFrame
 Columns: [sym, open, high, low, close, rate, ind]
 Index: [],
 'crv': Empty DataFrame
 Columns: [sym, open, high, low, close, rate, ind]
 Index: [],
 'trb': Empty DataFrame
 Columns: [sym, open, high, low, close, rate, ind]
 Index: [],
 'rune': Empty DataFrame
 Columns: [sym, open, high, low, close, rate, ind]
 Index: [],
 'sushi': Empty DataFrame
 Columns: [sym, open, high, low, close, rate, ind]
 Index: [],
 'srm': Empty DataFrame
 Columns: [sym, open, high, low, close, rate, ind]
 Index: [],
 'egld': Empty DataFrame
 Columns: [sym, open, high, low, close, rate, ind]
 Index: [],
 'sol': Empty DataFrame
 Columns: [sym, open, high, low, close, rate, ind]
 Index: [],
 'icx': Empty DataFrame
 Columns: [sym, open, high, low, close, rate, ind]
 Index: [],
 'storj': Empty DataFrame
 Columns: [sym, open, high, low, close, rate, ind]
 Index: [],
 'blz': Empty DataFrame
 Columns: [sym, open, high, low, close, rate, ind]
 Index: [],
 'uni': Empty DataFrame
 Columns: [sym, open, high, low, close, rate, ind]
 Index: [],
 'avax': Empty DataFrame
 Columns: [sym, open, high, low, close, rate, ind]
 Index: [],
 'ftm': Empty DataFrame
 Columns: [sym, open, high, low, close, rate, ind]
 Index: [],
 'hnt': Empty DataFrame
 Columns: [sym, open, high, low, close, rate, ind]
 Index: [],
 'enj': Empty DataFrame
 Columns: [sym, open, high, low, close, rate, ind]
 Index: [],
 'flm': Empty DataFrame
 Columns: [sym, open, high, low, close, rate, ind]
 Index: [],
 'tomo':              sym    open    high     low   close      rate       ind
 datetime
 2020-11-08  tomo  0.5485  0.6075  0.5398  0.5935 -0.025442  0.392539
 2020-11-09  tomo  0.5937  0.6018  0.5506  0.5873  0.043589  0.437608
 2020-11-10  tomo  0.5877  0.6274  0.5778  0.6103  0.058004  0.441069
 2020-11-11  tomo  0.6109  0.6390  0.5953  0.5986  0.061477  0.443525
 2020-11-12  tomo  0.5991  0.6101  0.5564  0.5714  0.178159  0.401763
 ...          ...     ...     ...     ...     ...       ...       ...
 2023-03-16  tomo  0.4993  0.5353  0.4957  0.5168  0.211107  0.485824
 2023-03-17  tomo  0.5167  0.6069  0.5052  0.6029 -0.087577  0.583329
 2023-03-18  tomo  0.6029  0.6579  0.5911  0.5983 -0.071536  0.677179
 2023-03-19  tomo  0.5984  0.6187  0.5552  0.5561  0.092609  0.688802
 2023-03-20  tomo  0.5563  0.5656  0.5346  0.5381  0.080097  0.675259

 [863 rows x 7 columns],
 'ren':                open     high      low    close       volume
 datetime
 2020-10-13  0.34091  0.38003  0.32763  0.34099   21194924.0
 2020-10-14  0.34092  0.38843  0.33617  0.38444   47472651.0
 2020-10-15  0.38365  0.38500  0.35148  0.36018   22912677.0
 2020-10-16  0.36031  0.36653  0.32030  0.32439   19911224.0
 2020-10-17  0.32442  0.35500  0.31057  0.34586   13640028.0
 ...             ...      ...      ...      ...          ...
 2023-03-23  0.10590  0.11395  0.10454  0.10922  490075953.0
 2023-03-24  0.10920  0.10980  0.09931  0.10218  400500680.0
 2023-03-25  0.10219  0.10219  0.09579  0.09897  254826632.0
 2023-03-26  0.09897  0.10528  0.09704  0.10112  346722574.0
 2023-03-27  0.10111  0.10136  0.09597  0.09667   91187290.0

 [896 rows x 5 columns],
 'ksm':               open    high     low   close    volume
 datetime
 2020-10-14  29.500  32.432  28.500  31.032  220335.7
 2020-10-15  31.025  31.025  28.914  29.428  118699.7
 2020-10-16  29.420  29.928  26.967  27.875  108661.4
 2020-10-17  27.950  29.689  27.800  29.355   86997.5
 2020-10-18  29.359  31.691  29.148  31.033  113304.3
 ...            ...     ...     ...     ...       ...
 2023-03-23  33.080  35.170  32.540  35.010  371081.6
 2023-03-24  35.020  35.480  32.580  33.430  434432.9
 2023-03-25  33.420  33.650  31.880  32.430  196857.5
 2023-03-26  32.440  33.780  32.110  33.570  172247.3
 2023-03-27  33.580  33.760  32.950  33.160   68967.5

 [895 rows x 5 columns],
 'near':               open    high     low   close      volume
 datetime
 2020-10-15  1.0625  1.2231  1.0625  1.1220  16485482.0
 2020-10-16  1.1210  1.1585  0.8112  0.8156  30730886.0
 2020-10-17  0.8175  0.8660  0.7195  0.8079  31125587.0
 2020-10-18  0.8079  0.8740  0.7988  0.8702  14539580.0
 2020-10-19  0.8702  0.8718  0.7704  0.8014  13018718.0
 ...            ...     ...     ...     ...         ...
 2023-03-23  1.9460  2.0740  1.9190  2.0440  57296670.0
 2023-03-24  2.0440  2.0520  1.9240  1.9620  59963613.0
 2023-03-25  1.9630  1.9970  1.8890  1.9210  30967441.0
 2023-03-26  1.9210  1.9820  1.9120  1.9580  25334901.0
 2023-03-27  1.9580  1.9650  1.9060  1.9240   8150084.0

 [894 rows x 5 columns],
 'aave':               open    high     low   close    volume
 datetime
 2020-10-16  44.550  45.040  37.510  39.390  282456.7
 2020-10-17  39.415  43.329  38.460  41.393  385497.7
 2020-10-18  41.379  41.400  39.455  40.795  370900.1
 2020-10-19  40.746  41.009  35.828  36.075  398700.9
 2020-10-20  36.083  36.474  31.889  32.135  640193.9
 ...            ...     ...     ...     ...       ...
 2023-03-23  75.070  80.490  74.310  77.050  706851.3
 2023-03-24  77.050  77.370  72.070  72.980  742082.5
 2023-03-25  72.980  73.500  70.050  71.260  334500.4
 2023-03-26  71.250  73.300  70.760  72.790  330721.6
 2023-03-27  72.790  73.570  71.660  72.030  152099.3

 [893 rows x 5 columns],
 'fil':               open    high     low   close      volume
 datetime
 2020-10-16  60.455  60.462  24.500  30.318  10257406.6
 2020-10-17  30.205  37.500  28.100  34.700   6897928.6
 2020-10-18  34.620  35.590  30.711  31.570   3993747.3
 2020-10-19  31.527  31.850  26.660  30.080   7205885.4
 2020-10-20  30.025  30.500  27.834  29.800   3611696.2
 ...            ...     ...     ...     ...         ...
 2023-03-23   5.645   5.972   5.605   5.923  48814579.6
 2023-03-24   5.923   6.059   5.437   5.550  62327442.0
 2023-03-25   5.550   5.623   5.248   5.375  37381754.4
 2023-03-26   5.374   5.743   5.349   5.678  34973820.7
 2023-03-27   5.679   5.700   5.486   5.517  10246431.2

 [893 rows x 5 columns],
 'rsr':                 open      high       low     close        volume
 datetime
 2020-10-19  0.010860  0.012150  0.009831  0.011167  4.334488e+08
 2020-10-20  0.011161  0.011576  0.009157  0.009439  4.379567e+08
 2020-10-21  0.009449  0.014850  0.009265  0.012846  3.742967e+09
 2020-10-22  0.012811  0.015737  0.012723  0.014430  5.265036e+09
 2020-10-23  0.014426  0.015595  0.014000  0.014014  2.121004e+09
 ...              ...       ...       ...       ...           ...
 2023-03-23  0.003849  0.004187  0.003797  0.004153  4.877849e+09
 2023-03-24  0.004154  0.004191  0.003898  0.003982  4.860038e+09
 2023-03-25  0.003982  0.004006  0.003756  0.003815  2.174656e+09
 2023-03-26  0.003815  0.003933  0.003773  0.003901  1.909732e+09
 2023-03-27  0.003902  0.003917  0.003793  0.003820  5.425549e+08

 [890 rows x 5 columns],
 'lrc':                open     high      low    close       volume
 datetime
 2020-10-19  0.15500  0.18237  0.15355  0.17084   26449292.0
 2020-10-20  0.17099  0.17580  0.15503  0.15685   12875504.0
 2020-10-21  0.15694  0.17366  0.15646  0.16449    9683800.0
 2020-10-22  0.16461  0.17379  0.16461  0.16926    4506621.0
 2020-10-23  0.16909  0.17104  0.16135  0.16531    3567075.0
 ...             ...      ...      ...      ...          ...
 2023-03-23  0.33250  0.36970  0.32720  0.36720   81360363.0
 2023-03-24  0.36720  0.37340  0.33360  0.34490   94575066.0
 2023-03-25  0.34490  0.35620  0.33260  0.34610   91262716.0
 2023-03-26  0.34610  0.36930  0.34390  0.35690  134193534.0
 2023-03-27  0.35690  0.35820  0.34530  0.34820   21124821.0

 [890 rows x 5 columns],
 'matic':                open     high      low    close       volume
 datetime
 2020-10-22  0.01602  0.01800  0.01602  0.01734  189504478.0
 2020-10-23  0.01738  0.01771  0.01624  0.01709   90595985.0
 2020-10-24  0.01709  0.01779  0.01681  0.01773   69758818.0
 2020-10-25  0.01773  0.01803  0.01713  0.01734   83915553.0
 2020-10-26  0.01734  0.01779  0.01604  0.01652  109523054.0
 ...             ...      ...      ...      ...          ...
 2023-03-23  1.10660  1.15820  1.09760  1.13570  468564294.0
 2023-03-24  1.13560  1.14690  1.06000  1.09640  541900117.0
 2023-03-25  1.09650  1.11230  1.06010  1.07750  306246421.0
 2023-03-26  1.07740  1.11940  1.07040  1.10320  307277741.0
 2023-03-27  1.10330  1.10820  1.07800  1.08190   76272851.0

 [887 rows x 5 columns],
 'ocean':                open     high      low    close       volume
 datetime
 2020-11-03  0.41500  0.46300  0.38600  0.44832   25275757.0
 2020-11-04  0.44850  0.47200  0.41163  0.46565   16929764.0
 2020-11-05  0.46491  0.48253  0.42151  0.46984   14886803.0
 2020-11-06  0.47039  0.51500  0.46081  0.50505   17505049.0
 2020-11-07  0.50576  0.54651  0.45000  0.48194   19072687.0
 ...             ...      ...      ...      ...          ...
 2023-03-23  0.35850  0.37750  0.35100  0.37230  111132498.0
 2023-03-24  0.37220  0.37330  0.34460  0.35380   90736927.0
 2023-03-25  0.35390  0.35640  0.33980  0.34420   48436848.0
 2023-03-26  0.34430  0.36180  0.34040  0.35580   52275130.0
 2023-03-27  0.35580  0.35690  0.34540  0.34730   15951803.0

 [875 rows x 5 columns],
 'cvc':                open     high      low    close       volume
 datetime
 2020-11-11  0.10801  0.11950  0.09175  0.09423  234967430.0
 2020-11-12  0.09398  0.10360  0.08201  0.09872  331337766.0
 2020-11-13  0.09872  0.12636  0.09602  0.10685  692496048.0
 2020-11-14  0.10686  0.11835  0.09864  0.10962  306048070.0
 2020-11-15  0.10949  0.11900  0.10165  0.10735  216889917.0
 ...             ...      ...      ...      ...          ...
 2023-03-23  0.10201  0.10201  0.10201  0.10201          0.0
 2023-03-24  0.10201  0.10201  0.10201  0.10201          0.0
 2023-03-25  0.10201  0.10201  0.10201  0.10201          0.0
 2023-03-26  0.10201  0.10201  0.10201  0.10201          0.0
 2023-03-27  0.10201  0.10201  0.10201  0.10201          0.0

 [867 rows x 5 columns],
 'bel':                open     high      low    close      volume
 datetime
 2020-11-18  1.08040  1.33680  1.05666  1.31765   8196768.0
 2020-11-19  1.31908  1.46000  1.23220  1.33842  12989739.0
 2020-11-20  1.33796  1.51169  1.31737  1.41262   6564844.0
 2020-11-21  1.41294  1.44000  1.28372  1.32194   6494636.0
 2020-11-22  1.32363  1.36373  1.08640  1.18047   7046905.0
 ...             ...      ...      ...      ...         ...
 2023-03-23  0.60980  0.65200  0.60980  0.65050  24950113.0
 2023-03-24  0.65070  0.65140  0.59400  0.60610  19685531.0
 2023-03-25  0.60610  0.60900  0.57660  0.58980  14152589.0
 2023-03-26  0.58970  0.61160  0.58200  0.60270  14832310.0
 2023-03-27  0.60250  0.60430  0.58340  0.58840   3685454.0

 [860 rows x 5 columns],
 'ctk':                open     high      low    close     volume
 datetime
 2020-11-19  1.10002  1.23782  1.10002  1.16468  4469968.0
 2020-11-20  1.16325  1.37960  1.13602  1.35959  7357801.0
 2020-11-21  1.35820  1.42821  1.22472  1.36130  7353521.0
 2020-11-22  1.36131  1.38368  1.08042  1.16373  6742843.0
 2020-11-23  1.16189  1.25220  1.13204  1.19909  6179869.0
 ...             ...      ...      ...      ...        ...
 2023-03-23  0.75710  0.78120  0.75410  0.77550  6541423.0
 2023-03-24  0.77540  0.78030  0.75030  0.77270  8308136.0
 2023-03-25  0.77270  0.78010  0.75660  0.76540  6339067.0
 2023-03-26  0.76540  0.78150  0.76000  0.76730  4732224.0
 2023-03-27  0.76730  0.77350  0.75700  0.76220  2436023.0

 [859 rows x 5 columns],
 'axs':                open     high      low    close      volume
 datetime
 2020-11-20  0.50000  0.54804  0.46100  0.49935  16595820.0
 2020-11-21  0.50031  0.54151  0.46008  0.47203  10407625.0
 2020-11-22  0.47182  0.47757  0.40351  0.43040  11159668.0
 2020-11-23  0.43071  0.55497  0.41476  0.51413  23085579.0
 2020-11-24  0.51421  0.52500  0.43405  0.48175  13270810.0
 ...             ...      ...      ...      ...         ...
 2023-03-23  8.34000  8.83000  8.21100  8.69200   8002539.0
 2023-03-24  8.69300  8.71100  8.09100  8.31200   8322544.0
 2023-03-25  8.31200  8.63100  8.11200  8.26300   8072564.0
 2023-03-26  8.26200  8.49200  8.18600  8.40700   4057511.0
 2023-03-27  8.40700  8.42600  8.15800  8.22000   1775907.0

 [858 rows x 5 columns],
 'alpha':                open     high      low    close       volume
 datetime
 2020-11-23  0.20001  0.23436  0.17799  0.19268   33419944.0
 2020-11-24  0.19257  0.28800  0.18312  0.26739  101162652.0
 2020-11-25  0.26793  0.28200  0.22262  0.24533   46153790.0
 2020-11-26  0.24450  0.24863  0.17860  0.21294   64950755.0
 2020-11-27  0.21327  0.24564  0.20640  0.21975   35853989.0
 ...             ...      ...      ...      ...          ...
 2023-03-23  0.10398  0.11134  0.10372  0.11093  130574778.0
 2023-03-24  0.11094  0.11144  0.10293  0.10496  113847061.0
 2023-03-25  0.10496  0.10583  0.10170  0.10334   70793011.0
 2023-03-26  0.10335  0.10684  0.10265  0.10555   62645650.0
 2023-03-27  0.10559  0.10605  0.10286  0.10339   18432365.0

 [855 rows x 5 columns],
 'zen':               open    high     low   close     volume
 datetime
 2020-11-24  12.888  16.108  12.864  14.293   411652.2
 2020-11-25  14.322  19.699  13.031  14.735  1894972.0
 2020-11-26  14.728  15.432  11.087  11.857  1406867.5
 2020-11-27  11.861  13.525  11.111  12.259   507469.2
 2020-11-28  12.268  15.840  11.680  14.898  1074279.2
 ...            ...     ...     ...     ...        ...
 2023-03-23  10.069  11.151  10.010  11.018  1393906.0
 2023-03-24  11.019  11.120  10.061  10.379  1750572.2
 2023-03-25  10.380  10.428   9.901  10.135   936659.4
 2023-03-26  10.135  10.419  10.028  10.309   610451.6
 2023-03-27  10.309  10.326  10.014  10.122   207342.6

 [854 rows x 5 columns],
 'skl':                open     high      low    close        volume
 datetime
 2020-12-08  0.13780  0.13876  0.10681  0.12341  1.533306e+08
 2020-12-09  0.12314  0.14566  0.10990  0.13799  2.420042e+08
 2020-12-10  0.13800  0.15012  0.12402  0.12450  1.981593e+08
 2020-12-11  0.12455  0.12721  0.11364  0.11546  1.126032e+08
 2020-12-12  0.11552  0.13187  0.11533  0.12321  8.245913e+07
 ...             ...      ...      ...      ...           ...
 2023-03-23  0.03792  0.04073  0.03768  0.04044  3.638409e+08
 2023-03-24  0.04044  0.04444  0.03908  0.04113  1.454770e+09
 2023-03-25  0.04114  0.04329  0.03903  0.03938  6.373803e+08
 2023-03-26  0.03937  0.04072  0.03863  0.04024  3.452551e+08
 2023-03-27  0.04025  0.04033  0.03867  0.03889  1.160542e+08

 [840 rows x 5 columns],
 'grt':                open     high      low    close        volume
 datetime
 2020-12-19  0.28916  0.48780  0.28916  0.46654  1.021743e+09
 2020-12-20  0.46610  0.79146  0.44123  0.73419  1.229631e+09
 2020-12-21  0.73309  0.77067  0.45193  0.47201  9.090759e+08
 2020-12-22  0.47230  0.62355  0.42403  0.54615  8.217116e+08
 2020-12-23  0.54584  0.58042  0.34686  0.41205  5.583072e+08
 ...             ...      ...      ...      ...           ...
 2023-03-23  0.14291  0.15765  0.14102  0.15196  9.416486e+08
 2023-03-24  0.15198  0.15262  0.13820  0.14248  5.952760e+08
 2023-03-25  0.14253  0.14350  0.13570  0.13773  3.317326e+08
 2023-03-26  0.13775  0.14249  0.13640  0.14144  2.846809e+08
 2023-03-27  0.14136  0.14144  0.13719  0.13766  9.235382e+07

 [829 rows x 5 columns],
 '1inch':               open    high     low   close      volume
 datetime
 2020-12-25  2.7000  2.9562  1.7498  2.2801  71519996.0
 2020-12-26  2.2823  2.4260  1.5595  1.5960  72874458.0
 2020-12-27  1.5960  1.6540  1.0415  1.0636  96158019.0
 2020-12-28  1.0615  1.2800  1.0409  1.1175  52486917.0
 2020-12-29  1.1172  1.1204  0.7563  0.8866  95372584.0
 ...            ...     ...     ...     ...         ...
 2023-03-23  0.5059  0.5296  0.5017  0.5201  41830023.0
 2023-03-24  0.5202  0.5227  0.4965  0.5060  33870116.0
 2023-03-25  0.5060  0.5100  0.4933  0.4993  19913828.0
 2023-03-26  0.4993  0.5155  0.4945  0.5122  24524636.0
 2023-03-27  0.5122  0.5168  0.4991  0.5031   9129999.0

 [823 rows x 5 columns],
 'chz':                open     high      low    close       volume
 datetime
 2021-01-21  0.02200  0.02440  0.01852  0.01892  133227029.0
 2021-01-22  0.01891  0.02050  0.01703  0.01977  228358525.0
 2021-01-23  0.01975  0.02092  0.01920  0.01984  214767247.0
 2021-01-24  0.01985  0.02050  0.01930  0.01989  163003415.0
 2021-01-25  0.01990  0.02118  0.01870  0.01885  257618104.0

In [7]:
ind_data

             sym    close      rate       ind
datetime
2021-02-21  sand  0.32220 -0.318281  0.436657
2021-02-22  sand  0.29508 -0.187475  0.466722
2021-02-23  sand  0.24034  0.045768  0.503749
2021-02-24  sand  0.24781  0.241677  0.504568
2021-02-25  sand  0.23265  0.543520  0.486899
...          ...      ...       ...       ...
2023-03-16  sand  0.59740  0.105792  0.345176
2023-03-17  sand  0.67850 -0.071481  0.416465
2023-03-18  sand  0.66810 -0.068702  0.484115
2023-03-19  sand  0.68380 -0.075314  0.538770
2023-03-20  sand  0.65860 -0.063468  0.565300

[758 rows x 4 columns]

In [8]:
import matplotlib.pyplot as plt
start_date = '2022-03-01'
start_date = datetime.strptime(start_date, '%Y-%m-%d')
# end_date = start_date + timedelta(days=30)
end_date = '2023-03-26'
end_date = datetime.strptime(end_date, '%Y-%m-%d')
# end_date = start_date + timedelta(days=30)
# for i in range(22):
long_std = 0.8
short_std = 0.2

df = select_rate(long_std, short_std, start_date, end_date, 0.0004)

win_cnt = (df['profit'] > 0).sum()
lose_cnt = (df['profit'] < 0).sum()

day = end_date - start_date
day.days

# log.append([len(df), day.days, win_cnt / len(df), win_cnt, lose_cnt, df['count_sum'].mean(), df['profit'].mean(), df['profit'].sum()])
log = {'시작' : start_date, '끝' : end_date, 'window' : window, 'away' : away, '매수조건' : long_std, '매도조건' : short_std, '거래 횟수' : len(df), '거래기간' : day.days, '승률' : win_cnt / len(df), '승수' : win_cnt, '패수' : lose_cnt, '평균보유량' : df['count_sum'].mean(), '평균수익률' : df['profit'].mean(), '총수익률' : df['profit'].sum()}
log_df = log_df.append(log, ignore_index=True)

# start_date = end_date + timedelta(days=1)
# end_date = end_date + timedelta(days=31)
with pd.ExcelWriter('log/log_df'+str(away) +str(window) + '.xlsx') as writer:
    log_df.to_excel(writer, index=False)

C:\Users\tomkj\AppData\Local\Temp\ipykernel_27168\2863674081.py:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  log_df = log_df.append(log, ignore_index=True)

In [9]:
log_df

,시작,끝,거래기간,매수조건,매도조건,거래 횟수,승률,승수,패수,평균보유량,평균수익률,총수익률,window,away
0,2022-03-01,2023-03-26,390,0.8,0.2,43,0.860465,37,6,6.511628,0.129052,5.549256,28.0,7.0

In [ ]:
df = ind_data[(ind_data['ind'] > long_std) | (ind_data['ind'] < short_std)].sort_index()
df

In [ ]:
import keras
import pandas as pd
import numpy as np

from sqlalchemy import create_engine
import matplotlib
from datetime import datetime, timedelta

def md_connect(user, password, db, host, port=3306):
    url = 'mysql+pymysql://{}:{}@{}:{}/{}'.format(user, password, host, port, db)
    engine = create_engine(url).connect()
    return engine

engine = md_connect('root', '1234', 'price_1d', 'localhost')

In [ ]:
account = [] # 계좌 정보
diary = [] # 매매일지

window = 14
away = 7

start_date = ''
end_date = ''

tot_data = {}
engine = md_connect('root', '1234', 'price_1d', 'localhost')
for sym in jongmok[:100]:
    data = pd.read_sql(sym[:-5].lower(), engine, index_col='datetime') # 데이터 가져오기
    tot_data[sym] = data

In [ ]:
from tensorflow import keras
model = keras.Sequential()
model.add(keras.layers.LSTM(50, activation='relu', input_shape=(window, 4), dropout=0.3))
model.add(keras.layers.Dense(1, activation='sigmoid'))
model.load_weights('h5/'+ term + '_' +str(window) + '_' + str(away) + '_(' + str(size) + ').h5')

engine = md_connect('root', '1234', 'ind_test', 'localhost')

for key in jongmok[:100]:
    data = tot_data[key]
    x_data = tot_data[key][['open', 'high', 'low', 'close']]
    y_data = tot_data[key][['close']]

    x_input = []
    y_input = []

    ## 전처리
    for i in range(len(data)-window-away+1): #len(data)-window
        mean = x_data[i:i+window].mean()
        std = x_data[i:i+window].std()
        x = (x_data[i:i+window] - mean) / std
        x_input.append(x)
    #
    ## ind 지표 생성
    x_input = np.array(x_input)
    predict_data = model.predict(x_input).tolist()

    ## 수익률 생성
    data['rate'] = data['close'].pct_change(periods=away).shift(-away)


    predict = []
    for i in range(len(predict_data)):
        predict.append(predict_data[i][0])
    data = data[window-1:-away]

    ##ind 지표 결합
    data['ind'] = predict
    print(len(data))

    data['sym'] = key


    data = data[['sym', 'open', 'high', 'low', 'close', 'rate', 'ind']]


    data.to_sql(key, engine, if_exists="replace", index=True)

In [ ]:
engine = md_connect('root', '1234', 'ind_test', 'localhost')
for sym in jongmok[:80]:
    data = pd.read_sql(sym[:-5].lower(), engine, index_col='datetime') # 데이터 가져오기
    tot_data[sym] = data

In [17]:
# 변수 설정
ind_data = []
for key in jongmok[:80]:
    ind_data.append(tot_data[key][['sym', 'close', 'rate', 'ind']])

ind_data = pd.concat(ind_data)


def select_rate(long_std, short_std, start_date=0, end_date=0, fee=0):
    df = ind_data[(ind_data['ind'] > long_std) | (ind_data['ind'] < short_std)].sort_index()
    condition = df['ind'] > 0.5
    df = df.assign(position=condition.map({True:1, False:-1}))
    df['profit'] = df['position'] * df['rate'] -(2 * fee)

    if start_date != 0:
        if end_date != 0:
            df = df.loc[start_date:end_date]
        else:
            df = df.loc[start_date:]
    else:
        if end_date !=0:
            df = df.loc[:end_date]


    df['count_sum'] = df.groupby('datetime').count()['sym'].rolling(window=7, min_periods=1).sum()
    df['tot_profit'] = df['profit'].cumsum()

    return df

KeyError: 'BTC/USDT'

In [15]:
ind_data

             sym    close      rate       ind
datetime
2021-02-21  sand  0.32220 -0.318281  0.436657
2021-02-22  sand  0.29508 -0.187475  0.466722
2021-02-23  sand  0.24034  0.045768  0.503749
2021-02-24  sand  0.24781  0.241677  0.504568
2021-02-25  sand  0.23265  0.543520  0.486899
...          ...      ...       ...       ...
2023-03-16  sand  0.59740  0.105792  0.345176
2023-03-17  sand  0.67850 -0.071481  0.416465
2023-03-18  sand  0.66810 -0.068702  0.484115
2023-03-19  sand  0.68380 -0.075314  0.538770
2023-03-20  sand  0.65860 -0.063468  0.565300

[758 rows x 4 columns]

In [ ]:
log_column = ['시작', '끝', '거래기간', 'window', 'away', '매수조건', '매도조건', '거래 횟수', '승률', '승수', '패수', '평균보유량', '평균수익률', '총수익률']
log_df = pd.DataFrame(columns = log_column)

In [13]:
import matplotlib.pyplot as plt
start_date = '2022-01-01'
start_date = datetime.strptime(start_date, '%Y-%m-%d')
end_date = start_date + timedelta(days=30)

for i in range(22):
    long_std = 0.8
    short_std = 0.2

    df = select_rate(long_std, short_std, start_date, end_date, 0.0004)

    win_cnt = (df['profit'] > 0).sum()
    lose_cnt = (df['profit'] < 0).sum()

    day = end_date - start_date
    day.days

    # log.append([len(df), day.days, win_cnt / len(df), win_cnt, lose_cnt, df['count_sum'].mean(), df['profit'].mean(), df['profit'].sum()])
    log = {'시작' : start_date, '끝' : end_date, 'window' : window, 'away' : away, '매수조건' : long_std, '매도조건' : short_std, '거래 횟수' : len(df), '거래기간' : day.days, '승률' : win_cnt / len(df), '승수' : win_cnt, '패수' : lose_cnt, '평균보유량' : df['count_sum'].mean(), '평균수익률' : df['profit'].mean(), '총수익률' : df['profit'].sum()}
    log_df = log_df.append(log, ignore_index=True)

    start_date = end_date + timedelta(days=1)
    end_date = end_date + timedelta(days=31)

C:\Users\tomkj\AppData\Local\Temp\ipykernel_27168\252574245.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  log_df = log_df.append(log, ignore_index=True)
C:\Users\tomkj\AppData\Local\Temp\ipykernel_27168\252574245.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  log_df = log_df.append(log, ignore_index=True)
C:\Users\tomkj\AppData\Local\Temp\ipykernel_27168\252574245.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  log_df = log_df.append(log, ignore_index=True)
C:\Users\tomkj\AppData\Local\Temp\ipykernel_27168\252574245.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  log_df = log_df.append(log, ignore_index=True)
C:\Users\tomkj\AppData\Local\Temp\ipykernel_27168\252574245.py:19: RuntimeWarning: invalid value encountered in longlong_scalars
  log = {'시작' : start_date, '끝' : end_date, 'window' : window, 'away' : away, '매수조건' : long_std, '매도조건' : short_std, '거래 횟수' : len(df), '거래기간' : day.days, '승률' : win_cnt / len(df), '승수' : win_cnt, '패수' : lose_cnt, '평균보유량' : df['count_sum'].mean(), '평균수익률' : df['profit'].mean(), '총수익률' : df['profit'].sum()}
C:\Users\tomkj\AppData\Local\Temp\ipykernel_27168\252574245.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  log_df = log_df.append(log, ignore_index=True)
C:\Users\tomkj\AppData\Local\Temp\ipykernel_27168\252574245.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  log_df = log_df.append(log, ignore_index=True)
C:\Users\tomkj\AppData\Local\Temp\ipykernel_27168\252574245.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  log_df = log_df.append(log, ignore_index=True)
C:\Users\tomkj\AppData\Local\Temp\ipykernel_27168\252574245.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  log_df = log_df.append(log, ignore_index=True)
C:\Users\tomkj\AppData\Local\Temp\ipykernel_27168\252574245.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  log_df = log_df.append(log, ignore_index=True)
C:\Users\tomkj\AppData\Local\Temp\ipykernel_27168\252574245.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  log_df = log_df.append(log, ignore_index=True)
C:\Users\tomkj\AppData\Local\Temp\ipykernel_27168\252574245.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  log_df = log_df.append(log, ignore_index=True)
C:\Users\tomkj\AppData\Local\Temp\ipykernel_27168\252574245.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  log_df = log_df.append(log, ignore_index=True)
C:\Users\tomkj\AppData\Local\Temp\ipykernel_27168\252574245.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  log_df = log_df.append(log, ignore_index=True)
C:\Users\tomkj\AppData\Local\Temp\ipykernel_27168\252574245.py:19: RuntimeWarning: invalid value encountered in longlong_scalars
  log = {'시작' : start_date, '끝' : end_date, 'window' : window, 'away' : away, '매수조건' : long_std, '매도조건' : short_std, '거래 횟수' : len(df), '거래기간' : day.days, '승률' : win_cnt / len(df), '승수' : win_cnt, '패수' : lose_cnt, '평균보유량' : df['count_sum'].mean(), '평균수익률' : df['profit'].mean(), '총수익률' : df['profit'].sum()}
C:\Users\tomkj\AppData\Local\Temp\ipykernel_27168\252574245.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  log_df = log_df.append(log, ignore_index=True)
C:\Users\tomkj\AppData\Local\Temp\ipykernel_27168\252574245.py:19: RuntimeWarning: invalid value encountered in longlong_scalars
  log = {'시작' : start_date, '끝' : end_date, 'window' : window, 'away' : away, '매수조건' : long_std, '매도조건' : short_std, '거래 횟수' : len(df), '거래기간' : day.days, '승률' : win_cnt / len(df), '승수' : win_cnt, '패수' : lose_cnt, '평균보유량' : df['count_sum'].mean(), '평균수익률' : df['profit'].mean(), '총수익률' : df['profit'].sum()}
C:\Users\tomkj\AppData\Local\Temp\ipykernel_27168\252574245.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  log_df = log_df.append(log, ignore_index=True)
C:\Users\tomkj\AppData\Local\Temp\ipykernel_27168\252574245.py:19: RuntimeWarning: invalid value encountered in longlong_scalars
  log = {'시작' : start_date, '끝' : end_date, 'window' : window, 'away' : away, '매수조건' : long_std, '매도조건' : short_std, '거래 횟수' : len(df), '거래기간' : day.days, '승률' : win_cnt / len(df), '승수' : win_cnt, '패수' : lose_cnt, '평균보유량' : df['count_sum'].mean(), '평균수익률' : df['profit'].mean(), '총수익률' : df['profit'].sum()}
C:\Users\tomkj\AppData\Local\Temp\ipykernel_27168\252574245.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  log_df = log_df.append(log, ignore_index=True)
C:\Users\tomkj\AppData\Local\Temp\ipykernel_27168\252574245.py:19: RuntimeWarning: invalid value encountered in longlong_scalars
  log = {'시작' : start_date, '끝' : end_date, 'window' : window, 'away' : away, '매수조건' : long_std, '매도조건' : short_std, '거래 횟수' : len(df), '거래기간' : day.days, '승률' : win_cnt / len(df), '승수' : win_cnt, '패수' : lose_cnt, '평균보유량' : df['count_sum'].mean(), '평균수익률' : df['profit'].mean(), '총수익률' : df['profit'].sum()}
C:\Users\tomkj\AppData\Local\Temp\ipykernel_27168\252574245.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  log_df = log_df.append(log, ignore_index=True)
C:\Users\tomkj\AppData\Local\Temp\ipykernel_27168\252574245.py:19: RuntimeWarning: invalid value encountered in longlong_scalars
  log = {'시작' : start_date, '끝' : end_date, 'window' : window, 'away' : away, '매수조건' : long_std, '매도조건' : short_std, '거래 횟수' : len(df), '거래기간' : day.days, '승률' : win_cnt / len(df), '승수' : win_cnt, '패수' : lose_cnt, '평균보유량' : df['count_sum'].mean(), '평균수익률' : df['profit'].mean(), '총수익률' : df['profit'].sum()}
C:\Users\tomkj\AppData\Local\Temp\ipykernel_27168\252574245.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  log_df = log_df.append(log, ignore_index=True)
C:\Users\tomkj\AppData\Local\Temp\ipykernel_27168\252574245.py:19: RuntimeWarning: invalid value encountered in longlong_scalars
  log = {'시작' : start_date, '끝' : end_date, 'window' : window, 'away' : away, '매수조건' : long_std, '매도조건' : short_std, '거래 횟수' : len(df), '거래기간' : day.days, '승률' : win_cnt / len(df), '승수' : win_cnt, '패수' : lose_cnt, '평균보유량' : df['count_sum'].mean(), '평균수익률' : df['profit'].mean(), '총수익률' : df['profit'].sum()}
C:\Users\tomkj\AppData\Local\Temp\ipykernel_27168\252574245.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  log_df = log_df.append(log, ignore_index=True)
C:\Users\tomkj\AppData\Local\Temp\ipykernel_27168\252574245.py:19: RuntimeWarning: invalid value encountered in longlong_scalars
  log = {'시작' : start_date, '끝' : end_date, 'window' : window, 'away' : away, '매수조건' : long_std, '매도조건' : short_std, '거래 횟수' : len(df), '거래기간' : day.days, '승률' : win_cnt / len(df), '승수' : win_cnt, '패수' : lose_cnt, '평균보유량' : df['count_sum'].mean(), '평균수익률' : df['profit'].mean(), '총수익률' : df['profit'].sum()}
C:\Users\tomkj\AppData\Local\Temp\ipykernel_27168\252574245.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  log_df = log_df.append(log, ignore_index=True)
C:\Users\tomkj\AppData\Local\Temp\ipykernel_27168\252574245.py:19: RuntimeWarning: invalid value encountered in longlong_scalars
  log = {'시작' : start_date, '끝' : end_date, 'window' : window, 'away' : away, '매수조건' : long_std, '매도조건' : short_std, '거래 횟수' : len(df), '거래기간' : day.days, '승률' : win_cnt / len(df), '승수' : win_cnt, '패수' : lose_cnt, '평균보유량' : df['count_sum'].mean(), '평균수익률' : df['profit'].mean(), '총수익률' : df['profit'].sum()}
C:\Users\tomkj\AppData\Local\Temp\ipykernel_27168\252574245.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  log_df = log_df.append(log, ignore_index=True)
C:\Users\tomkj\AppData\Local\Temp\ipykernel_27168\252574245.py:19: RuntimeWarning: invalid value encountered in longlong_scalars
  log = {'시작' : start_date, '끝' : end_date, 'window' : window, 'away' : away, '매수조건' : long_std, '매도조건' : short_std, '거래 횟수' : len(df), '거래기간' : day.days, '승률' : win_cnt / len(df), '승수' : win_cnt, '패수' : lose_cnt, '평균보유량' : df['count_sum'].mean(), '평균수익률' : df['profit'].mean(), '총수익률' : df['profit'].sum()}
C:\Users\tomkj\AppData\Local\Temp\ipykernel_27168\252574245.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  log_df = log_df.append(log, ignore_index=True)

In [14]:
log_df

,시작,끝,거래기간,매수조건,매도조건,거래 횟수,승률,승수,패수,평균보유량,평균수익률,총수익률,window,away
0,2022-03-01,2023-03-26,390,0.8,0.2,43,0.860465,37,6,6.511628,0.129052,5.549256,28.0,7.0
1,2023-01-01,2023-01-31,30,0.8,0.2,3,1.000000,3,0,2.000000,0.299822,0.899467,28.0,7.0
2,2023-02-01,2023-03-03,30,0.8,0.2,0,NaN,0,0,NaN,NaN,0.000000,28.0,7.0
3,2023-03-04,2023-04-03,30,0.8,0.2,0,NaN,0,0,NaN,NaN,0.000000,28.0,7.0
4,2023-04-04,2023-05-04,30,0.8,0.2,0,NaN,0,0,NaN,NaN,0.000000,28.0,7.0
5,2023-05-05,2023-06-04,30,0.8,0.2,0,NaN,0,0,NaN,NaN,0.000000,28.0,7.0
6,2023-06-05,2023-07-05,30,0.8,0.2,0,NaN,0,0,NaN,NaN,0.000000,28.0,7.0
7,2023-07-06,2023-08-05,30,0.8,0.2,0,NaN,0,0,NaN,NaN,0.000000,28.0,7.0
8,2023-08-06,2023-09-05,30,0.8,0.2,0,NaN,0,0,NaN,NaN,0.000000,28.0,7.0
9,2023-09-06,2023-10-06,30,0.8,0.2,0,NaN,0,0,NaN,NaN,0.000000,28.0,7.0
10,2023-10-07,2023-11-06,30,0.8,0.2,0,NaN,0,0,NaN,NaN,0.000000,28.0,7.0
11,2023-11-07,2023-12-07,30,0.8,0.2,0,NaN,0,0,NaN,NaN,0.000000,28.0,7.0
12,2023-12-08,2024-01-07,30,0.8,0.2,0,NaN,0,0,NaN,NaN,0.000000,28.0,7.0
13,2024-01-08,2024-02-07,30,0.8,0.2,0,NaN,0,0,NaN,NaN,0.000000,28.0,7.0
14,2024-02-08,2024-03-09,30,0.8,0.2,0,NaN,0,0,NaN,NaN,0.000000,28.0,7.0
15,2024-03-10,2024-04-09,30,0.8,0.2,0,NaN,0,0,NaN,NaN,0.000000,28.0,7.0
16,2024-04-10,2024-05-10,30,0.8,0.2,0,NaN,0,0,NaN,NaN,0.000000,28.0,7.0
17,2024-05-11,2024-06-10,30,0.8,0.2,0,NaN,0,0,NaN,NaN,0.000000,28.0,7.0
18,2024-06-11,2024-07-11,30,0.8,0.2,0,NaN,0,0,NaN,NaN,0.000000,28.0,7.0
19,2024-07-12,2024-08-11,30,0.8,0.2,0,NaN,0,0,NaN,NaN,0.000000,28.0,7.0
20,2024-08-12,2024-09-11,30,0.8,0.2,0,NaN,0,0,NaN,NaN,0.000000,28.0,7.0
21,2024-09-12,2024-10-12,30,0.8,0.2,0,NaN,0,0,NaN,NaN,0.000000,28.0,7.0
22,2024-10-13,2024-11-12,30,0.8,0.2,0,NaN,0,0,NaN,NaN,0.000000,28.0,7.0
23,2022-01-01,2022-01-31,30,0.8,0.2,3,1.000000,3,0,2.000000,0.143672,0.431015,28.0,7.0
24,2022-02-01,2022-03-03,30,0.8,0.2,3,1.000000,3,0,2.000000,0.219270,0.657811,28.0,7.0
25,2022-03-04,2022-04-03,30,0.8,0.2,13,0.923077,12,1,5.384615,0.072066,0.936857,28.0,7.0
26,2022-04-04,2022-05-04,30,0.8,0.2,2,1.000000,2,0,1.500000,0.131795,0.263590,28.0,7.0
27,2022-05-05,2022-06-04,30,0.8,0.2,0,NaN,0,0,NaN,NaN,0.000000,28.0,7.0
28,2022-06-05,2022-07-05,30,0.8,0.2,6,1.000000,6,0,3.500000,0.308192,1.849153,28.0,7.0
29,2022-07-06,2022-08-05,30,0.8,0.2,5,0.600000,3,2,3.000000,0.028623,0.143115,28.0,7.0
30,2022-08-06,2022-09-05,30,0.8,0.2,1,1.000000,1,0,1.000000,0.196481,0.196481,28.0,7.0
31,2022-09-06,2022-10-06,30,0.8,0.2,4,0.250000,1,3,2.500000,0.005762,0.023049,28.0,7.0
32,2022-10-07,2022-11-06,30,0.8,0.2,3,1.000000,3,0,2.000000,0.066326,0.198978,28.0,7.0
33,2022-11-07,2022-12-07,30,0.8,0.2,2,1.000000,2,0,1.500000,0.112956,0.225912,28.0,7.0
34,2022-12-08,2023-01-07,30,0.8,0.2,5,1.000000,5,0,3.000000,0.210838,1.054189,28.0,7.0
35,2023-01-08,2023-02-07,30,0.8,0.2,2,1.000000,2,0,1.500000,0.328965,0.657930,28.0,7.0
36,2023-02-08,2023-03-10,30,0.8,0.2,0,NaN,0,0,NaN,NaN,0.000000,28.0,7.0
37,2023-03-11,2023-04-10,30,0.8,0.2,0,NaN,0,0,NaN,NaN,0.000000,28.0,7.0
38,2023-04-11,2023-05-11,30,0.8,0.2,0,NaN,0,0,NaN,NaN,0.000000,28.0,7.0
39,2023-05-12,2023-06-11,30,0.8,0.2,0,NaN,0,0,NaN,NaN,0.000000,28.0,7.0
40,2023-06-12,2023-07-12,30,0.8,0.2,0,NaN,0,0,NaN,NaN,0.000000,28.0,7.0
41,2023-07-13,2023-08-12,30,0.8,0.2,0,NaN,0,0,NaN,NaN,0.000000,28.0,7.0
42,2023-08-13,2023-09-12,30,0.8,0.2,0,NaN,0,0,NaN,NaN,0.000000,28.0,7.0
43,2023-09-13,2023-10-13,30,0.8,0.2,0,NaN,0,0,NaN,NaN,0.000000,28.0,7.0
44,2023-10-14,2023-11-13,30,0.8,0.2,0,NaN,0,0,NaN,NaN,0.000000,28.0,7.0

In [ ]:
start_date = '2022-01-01'

In [ ]:
from datetime import datetime, timedelta

In [ ]:
start_date = datetime.strptime(start_date, '%Y-%m-%d')

In [ ]:
start_date = start_date + timedelta(days=90)

In [ ]:
start_date