In [1]:
print("test")

test

In [4]:

import pandas as pd

df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Emily'],
    'Age': [25, 32, 18, 47, 33],
    'City': ['Austin', 'Dallas', 'Chicago', 'Austin', 'Dallas']
})

print(df)

      Name  Age     City
0    Alice   25   Austin
1      Bob   32   Dallas
2  Charlie   18  Chicago
3    David   47   Austin
4    Emily   33   Dallas